<header id="mainHeader">
  <div id="logoText"><a href="/">DoDoDo</a></div>
  <nav>
    <ul>
      <li class="navItem"><a href="/todolist">TodoList</a></li>
      <li class="navItem"><a href="/memo">Memo</a></li>
    </ul>
  </nav>
  <button id="menuDrawerBtn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="menuDrawer">
  <nav>
    <ul>
      <li class="navItem"><a href="/todolist">TodoList</a></li>
      <li class="navItem"><a href="/memo">Memo</a></li>
    </ul>
  </nav>
</aside>
