<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <title>MyTestWebPage</title>
    <link rel="stylesheet" href="css/shared.css" />
    <link rel="stylesheet" href="css/boxList.css" />
    <script src="scripts/function.js" defer></script>
    <script src="scripts/functionName.js" defer></script>
  </head>

  <body>
    <div class="container">
      <%- include('includes/header') %>

      <main></main>
      <%- include('includes/footer') %>
    </div>
  </body>
</html>
